


.headerbtn {
    background-color: rgb(70, 219, 50);
    text-align: center;
    width: 100%;
}
.headerbtn, ul{
    display: inline-flex;
}
.headerbtn ul li {
    width: 12rem;
    list-style: none;
}
/* table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 1px;
    border-color: gray;
} */

/* start modal coding */
.bg-modal{
    background-color: rgba(0, 0, 0, 0.403);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	justify-content: center;
	align-items: center;
    display: none;
}
.modal-content{
    width: 620px;
    height: 550px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    padding: 20px;
}
.weightbtn{
    display: flex;
    justify-content: center;
    .weightbtn, button{
        width: 100%;
        background-color: gold;
        font-weight: 700;
        font-size: larger;
        border: 2px solid sandybrown;
        &:hover{
            background-color: greenyellow;
            font-style: oblique;
            border-color: grey;
        }
    }
}

.serialcontain{
    display: inline-flex;
    gap: 50px;
    margin-bottom: 10px;
    .serialcontain, input{
        font-size: large;
        width: 120px;
    }
}
.operator{
    .operator, select{
        width: 120px;
        text-align: center;
    }
}
.vehicalinp{
    display: inline-flex;
    gap: 50px;
    margin-bottom: 10px;
    .vehicalinp, input{
        text-transform: uppercase;
        width: 50px;
        font-size: large;
    }
    
}
.vehicalno{
    .vehicalno, input{
        background-color: yellow;
        width: 170px;
    }
}

.firstwt{
    display: inline-flex;
    gap: 11px;
    .firstwt, input{
        text-transform: uppercase;
        width: 150px;
        font-size: large;
        text-align: center;
    }
}
.aboutgood{
    background-color: silver;
    .aboutgood, input{
        text-transform: uppercase;
    }
}
.aboutparty{
    padding: 30px 10px 30px 10px ;
    display: block;
    row-gap: 5px;
    text-align: center;
    .aboutparty, input{
        width: 400px;
        border: 1px solid grey;
        border-radius: 3px;
        &:hover{
            border-color: rgb(6, 250, 250);
        }
    }
}
.firstwtbtn{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    .firstwtbtn, button{
        font-size: large;
        color: white;
        background-color: steelblue;
        border-color: skyblue;
        border-radius: 5px;
        &:hover{
            background-color: rgb(251, 251, 251);
            border-color: skyblue;
            color: black;
        }
    }
}





.parking{
    display: none;
}